<!-- <header class="drop-shadow">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h5 class="text-primary brand">TodoApp - URTAAV</h5>
            </div>
        </div>
    </div>
</header> -->

<header>
    <nav class="navbar navbar-light navbar-expand-md  fixed-top bg-light">
      <a class="navbar-brand text-dark"
        >TodoApp -<span class="text-danger">URTAAV</span></a
      >
      <button
        class="navbar-toggler" 
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul> -->
      </div>
    </nav>
  </header>